body {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

a:hover {
  color: #016064;
  text-decoration: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
}
.navbar .navbar-nav .nav-link:hover{
    font-weight: bold;
    color: #016064;
}

.container {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 2%;
    margin-left: auto;
    margin-right: auto;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

i.fa {
  color: black;
  box-align: center;
  vertical-align: top;
  padding-left: .5em;
}

i.fa:hover {
  color: #016064;
}

i.fab {
    color: black;
    box-align: center;
    vertical-align: top;
    padding-left: .5em;
  }

i.fab:hover {
    color: #016064;
  }
  
i.fas {
    color: black;
    box-align: center;
    vertical-align: top;
    padding-left: .5em;
  }

i.fas:hover {
    color: #016064;
  }

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
  }
}
